/* Pantalla completa con fondo */
.home-container {
    height: 100vh;
    width: 100vw;
    background: #E6F9AF;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal centrado */
.main-container {
    width: 80%;
    height: 80%;
    background-color: #18314F;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 20px;
}

/* Contenedor izquierdo */
.left-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: #0D0630;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.left-container > .profile {
    flex-shrink: 0;
}

.left-container > .menu {
    flex-grow: 1;
    overflow-y: auto; /* Por si el menú es largo */
}

.left-container > app-web-player {
    flex-shrink: 0;
}

/* Perfil */
.profile {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #18314F;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0.5rem;
}


.profile img {
    width: 60px;
    height: 60px;
    border-radius: 15px ;
    object-fit: cover;
    background-color: #555; /* Por si no carga */
}

.profile span {
    color: white;
    font-weight: 600;
    line-height: 1.2;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.4rem; /* Espacio entre los elementos */
    font-size: 0.75rem; /* Tamaño general más pequeño */
    padding-top: 4px; /* Reducción del padding superior */
    justify-content: center; /* Centrado vertical */
    height: 100%; /* Asegura que el contenedor ocupe el espacio disponible */
}

.menu-title {
    color: #fff;
    font-weight: 700;
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
}

.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #ccc;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: center; /* Centrado de texto */
}

.menu-items li {
    cursor: pointer;
    transition: color 0.2s;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 14px;
}

.menu-items li:hover {
    color: #fff;
}

.menu-items li .material-icons {
    font-size: 15px; /* Reduce el tamaño de los íconos */
}

  

/* Web player ya está listo, se ajusta automáticamente */

/* Contenedor derecho */
.right-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    padding: 0 1rem 0 1rem;
}
