<div class="web-player">
    <div class="player-cover">
        <img src="" alt="Cover" />
    </div>
    
  
    <div class="player-info">
      <!-- Títulos dinámicos -->
      <h3 class="song-title">{{ tracks[currentTrackIndex]?.song_name || 'Song Title' }}</h3>
      <p class="artist-name">{{ tracks[currentTrackIndex]?.user?.name || 'Artist Name' }}</p> <!-- Usamos el operador de encadenamiento seguro -->
    </div>
  
    <div class="player-controls">
      <button id="prev" (click)="previousTrack()">
        <span class="material-icons">skip_previous</span>
      </button>
      <button id="play" (click)="togglePlay()">
        <span class="material-icons">{{ isPlaying ? 'pause' : 'play_arrow' }}</span>
      </button>
      <button id="next" (click)="nextTrack()">
        <span class="material-icons">skip_next</span>
      </button>
    </div>
  
    <div class="progress-container">
      <input
        type="range"
        id="progress-bar"
        [value]="progress"
        min="0"
        max="100"
        (input)="onProgressChange($event)"
      />
    </div>
  </div>
  