<app-particles-background></app-particles-background>

<div class="login-container">
    <div class="content-wrapper" *ngIf="!isLoading">
        <div class="form-container">
            <form (ngSubmit)="register()">            
                <div class="form-grid">
                    <div class="form-field">
                        <label for="username">username</label>
                        <input type="text" id="username" [(ngModel)]="user.username" name="username" required />
                    </div>
                    <div class="form-field">
                        <label for="profile_picture">Profile picture</label>
                        <input
                          type="file"
                          id="profile_picture"
                          name="profile_picture"
                          (change)="onFileSelected($event)"
                          accept="image/*"
                      />
                      </div>
            
                    <div class="form-field">
                        <label for="email">email</label>
                        <input type="email" id="email" [(ngModel)]="user.email" name="email" required />
                    </div>
            
                    <div class="form-field">
                        <label for="password">password</label>
                        <input type="password" id="password" [(ngModel)]="user.password" name="password" required />
                    </div>
            
                    <div class="form-field">
                        <label for="name">first name</label>
                        <input type="text" id="name" [(ngModel)]="user.name" name="name" />
                    </div>
            
                    <div class="form-field">
                        <label for="last_name">last name</label>
                        <input type="text" id="last_name" [(ngModel)]="user.last_name" name="last_name" />
                    </div>
            
                    <div class="form-field">
                        <label for="phone">phone</label>
                        <input type="text" id="phone" [(ngModel)]="user.phone" name="phone" />
                    </div>
                </div>
            
                <button type="submit">register <3 !</button>
            </form>
            
    </div>
    </div>
</div>

<div class="loader-wrapper" *ngIf="isLoading">
    <app-loader></app-loader>
  </div>